.ContactData {
  margin: 20px auto;
  text-align: center;
  width: 80%;
  padding: 10px;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  background: whitesmoke;
}

.input {
  display: block;
}

@media (min-width: 600px) {
  .ContactData {
    widows: 500px;
  }
}